<div class="containerLogin">
    <mat-card>
        <mat-card-title>Change your product : </mat-card-title>
        <mat-card-content>
            <form [formGroup]="form" (submit)="submit()">
                <mat-form-field>
                    <mat-label>name</mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-error *ngIf="form.get('name')?.errors?.['required']">
                        Please fill in your name
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>price</mat-label>
                    <input matInput type="number" formControlName="price">
                    <mat-error *ngIf="form.get('price')?.errors?.['required']">
                        Please fill in your price
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>description</mat-label>
                    <input matInput type="text" formControlName="description">
                    <mat-error *ngIf="form.get('description')?.errors?.['required']">
                        Please fill in your description
                    </mat-error>
                </mat-form-field>

                <div class="image">
                    <mat-label>image</mat-label>
                    <input type="file" (change)="uploadFile($event)" accept="image/*">
                </div>


                <mat-error *ngIf="errorImage">
                    {{ errorImage }}
                </mat-error>

                <button mat-stroked-button>Save</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>